:root {
  scroll-behavior: smooth;

  --font-primary: 1rem;
  --font-secondary: 0.8rem;

  --margin-page: min(4vw, 3rem);
  --max-width: max(80vw, 60rem);

  --bg-size: 160px;
}

@view-transition {
  navigation: auto;
}

@keyframes scroll-background {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: translateX(var(--bg-size)) translateY(calc(var(--bg-size) * -1));
  }
}
:root {
  background-color: var(--pink-100);

  &:before {
    content: "";
    position: fixed;
    contain: strict;
    top: calc(var(--bg-size) * -2);
    left: calc(var(--bg-size) * -2);
    right: calc(var(--bg-size) * -2);
    bottom: calc(var(--bg-size) * -2);
    pointer-events: none;
    background-color: var(--pink-100);
    background-image: url(../paws.png);
    background-size: 160px;
    animation: scroll-background 40s linear infinite;
  }
  &.dark-mode:before {
    background-image: url(../stars.png);
  }
  body {
    position: relative;
  }
}

body {
  padding: var(--margin-page);
  margin: auto;
  line-height: 1.4;
  color: var(--neutral-1000);
  image-rendering: pixelated;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  details {
    max-width: var(--max-width);
    margin: auto;
    & + details {
      margin-top: calc(var(--margin-page) * 0.75);
    }
  }
}

@keyframes details-stick-first {
  from {
  }
  to {
    transform: scale(0.3) translateY(calc(var(--margin-page) * -2));
    box-shadow: 0 1px 20px 5px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(1rem);
  }
}

details {
  --radius: 1rem;
  border-radius: var(--radius);
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transform-origin: center 1rem;
  transition: transform 0.2s ease;

  &:has(summary:active) {
    transform: scale(0.995);
  }

  &:first-child {
    position: sticky;
    top: calc(var(--margin-page));
    animation: ease details-stick-first both;
    animation-timeline: scroll(nearest block);
    animation-range: 0 400px;
    transform-origin: top center;
    z-index: 999;
    will-change: transform;
  }

  summary {
    padding: calc(0.75rem + 2px) calc(1rem + 2px);
    background-color: var(--pink-600);
    box-shadow: inset 0 -1px 2px 0 color-mix(in oklch, var(--pink-600), black
            10%),
      inset 0 1px 1px 0 color-mix(in oklch, var(--pink-600), white 50%);
    background: linear-gradient(
      to bottom,
      color-mix(in oklch, var(--pink-600), white 30%) 0%,
      var(--pink-600) 100%
    );
    color: var(--neutral-0);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .details-content {
    border: 1px solid var(--pink-300);
    border-top: none;
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    overflow: hidden;
    contain: content;
  }

  .details-title {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    .details-title-drop {
      width: 16px;
      height: 16px;
      transition: transform 0.4s ease;
      transform: rotate(-90deg);
      mask-image: url(../drop.gif);
      display: block;
      background: var(--neutral-0);
    }
  }

  &[open] .details-title .details-title-drop {
    transform: rotate(0deg);
  }

  .details-pivot {
    display: flex;
    font-size: var(--font-secondary);
    gap: -0.5rem;
    margin: -0.25rem;
    .details-pivot-link {
      color: inherit;
      text-decoration: none;
      padding: 0.25rem 1rem;
      border-radius: 999px;
      color: var(--pink-200);

      &:hover {
        color: var(--neutral-0);
      }

      &.details-pivot-link-active {
        opacity: 1;
        background: color-mix(in oklch, var(--pink-700), transparent 20%);
        color: var(--neutral-0);
        box-shadow: inset 0 1px 1px 0
          color-mix(in oklch, var(--pink-700), #000 20%);
      }
    }
  }
}

table {
  contain: strict;
  overflow: hidden;
  border-collapse: collapse;
  background: var(--neutral-0);
  width: 100%;
  :is(th, td):last-child {
    text-align: end;
  }

  thead th,
  tr td {
    padding: 0.5rem 1rem;
  }

  thead {
    border-bottom: 1px solid var(--pink-200);
    th {
      background: var(--pink-100);
      color: var(--pink-600);
      font-size: var(--font-secondary);
      font-weight: normal;
      font-style: italic;
      text-align: start;
    }
  }

  tr {
    &:hover {
      background: var(--pink-50);
    }
    td {
      color: var(--neutral-400);
      border-bottom: 1px solid var(--pink-100);
      font-size: var(--font-secondary);
      strong {
        font-weight: bold;
        color: var(--neutral-1000);
        font-size: var(--font-primary);
      }
      .row-with-icon {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        gap: 1rem;
      }
    }
  }
}

@keyframes chart-dash {
  to {
    stroke-dashoffset: 0;
  }
}
.chart {
  display: block;
  contain: strict;
  width: 100%;
  background: repeating-linear-gradient(
    var(--neutral-0-A80),
    var(--neutral-0-A80) 24px,
    var(--pink-100) 24px,
    var(--pink-100) 25px
  );
  margin-bottom: -1px;

  &,
  * {
    transform-box: fill-box;
  }

  text {
    font-size: var(--font-secondary);
  }

  .chart-line {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: chart-dash 1.5s linear forwards;
  }

  .chart-dot {
    fill: var(--pink-500);
  }

  .chart-hoverable {
    .chart-hoverable-date {
      font-size: 0.6em;
    }

    .chart-hoverable-label {
      transform: scaleY(0.5) scaleX(0.2);
      opacity: 0;
      transform-origin: bottom center;
      transition: transform 0.1s ease, opacity 0.1s ease;
    }

    &:hover {
      z-index: 99999;
      .chart-hoverable-label {
        opacity: 1;
        transform: scaleY(1) scaleX(1) translateZ(42px);
      }
    }
  }
}

.dashboard {
  display: grid;
  background: var(--neutral-0-A80);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: -0.5px;

  .dashboard-widget {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-direction: column;
    border: 1px solid var(--pink-200);
    margin: -0.5px;
    padding: 2rem 1rem;
    strong {
      font-size: var(--font-secondary);
      color: var(--pink-600);
      font-weight: inherit;
      font-style: italic;
    }
    .dashboard-widget-text-w-icon {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }
    .dashboard-fact {
      font-weight: 800;
    }
  }
}
