:root {
  scroll-behavior: smooth;

  --font-primary: 1rem;
  --font-secondary: 0.8rem;

  --margin-page: min(4vw, 3rem);
  --max-width: max(80vw, 60rem);

  --bg-size: 160px;

  --shadow-large: 0 4px 16px 6px rgba(0, 0, 0, 0.25);
}

@view-transition {
  navigation: auto;
}

@keyframes scroll-background {
  from {
    transform: translateX(0) translateY(0);
  }
  to {
    transform: translateX(var(--bg-size)) translateY(calc(var(--bg-size) * -1));
  }
}
:root {
  background-color: var(--pink-100);

  &:before {
    content: "";
    position: fixed;
    contain: strict;
    top: calc(var(--bg-size) * -2);
    left: calc(var(--bg-size) * -2);
    right: calc(var(--bg-size) * -2);
    bottom: calc(var(--bg-size) * -2);
    pointer-events: none;
    background-color: var(--pink-100);
    background-image: url(../paws.png);
    background-size: 160px;
    animation: scroll-background 40s linear infinite;
  }
  &.dark-mode:before {
    background-image: url(../stars.png);
  }
  body {
    position: relative;
  }
}

body {
  padding: var(--margin-page);
  margin: auto;
  line-height: 1.4;
  color: var(--neutral-1000);
  image-rendering: pixelated;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

table {
  contain: strict;
  overflow: hidden;
  border-collapse: collapse;
  background: var(--neutral-0);
  width: 100%;
  :is(th, td):last-child {
    text-align: end;
  }

  thead th,
  tr td {
    padding: 0.5rem 1rem;
  }

  thead {
    border-bottom: 1px solid var(--pink-200);
    th {
      background: var(--pink-100);
      color: var(--pink-600);
      font-size: var(--font-secondary);
      font-weight: normal;
      font-style: italic;
      text-align: start;
    }
  }

  tr {
    &:hover {
      background: var(--pink-50);
    }
    td {
      color: var(--neutral-400);
      border-bottom: 1px solid var(--pink-100);
      font-size: var(--font-secondary);
      strong {
        font-weight: bold;
        color: var(--neutral-1000);
        font-size: var(--font-primary);
      }

      .actions {
        display: flex;
        justify-content: end;
        gap: 1px;
        position: relative;

        .actions-action {
          & > button {
            cursor: pointer;
            appearance: none;
            border: none;
            padding: 0.5rem;
            background: var(--pink-100);
            text-decoration: none;
            img {
              display: block;
            }
            &:hover {
              background: var(--pink-300);
            }
          }
          &:has(:popover-open) > button {
            opacity: 0.1;
          }
          &:first-of-type button {
            border-top-left-radius: 0.25em;
            border-bottom-left-radius: 0.25em;
          }
          &:last-of-type button {
            border-top-right-radius: 0.25em;
            border-bottom-right-radius: 0.25em;
          }
        }
      }
      .row-with-icon {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        gap: 1rem;
      }
    }
  }
}

@keyframes chart-dash {
  to {
    stroke-dashoffset: 0;
  }
}
.chart {
  display: block;
  contain: strict;
  width: 100%;
  background: repeating-linear-gradient(
    var(--neutral-0-A80),
    var(--neutral-0-A80) 24px,
    var(--pink-100) 24px,
    var(--pink-100) 25px
  );
  margin-bottom: -1px;

  &,
  * {
    transform-box: fill-box;
  }

  text {
    font-size: var(--font-secondary);
  }

  .chart-line {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: chart-dash 1.5s linear forwards;
  }

  .chart-dot {
    fill: var(--pink-500);
  }

  .chart-hoverable {
    circle {
      display: none;
    }

    .chart-hoverable-date {
      font-size: 0.6em;
    }

    .chart-hoverable-label {
      transform: scaleY(0.5) scaleX(0.2);
      opacity: 0;
      transform-origin: bottom center;
      transition: transform 0.1s ease, opacity 0.1s ease;
    }

    &:hover {
      z-index: 99999;
      .chart-hoverable-label {
        opacity: 1;
        transform: scaleY(1) scaleX(1) translateZ(42px);
      }
    }
  }
}

.dashboard {
  display: grid;
  background: var(--neutral-0-A80);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: -0.5px;

  .dashboard-widget {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-direction: column;
    border: 1px solid var(--pink-200);
    margin: -0.5px;
    padding: 2rem 1rem;
    strong {
      font-size: var(--font-secondary);
      color: var(--pink-600);
      font-weight: inherit;
      font-style: italic;
    }
    .dashboard-widget-text-w-icon {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }
    .dashboard-fact {
      font-weight: 800;
    }
  }
}
