.styles-871684411d6bef96ddfad60e60a080c7aca081cb4435cd11b5a94ed6af858395 { background : var(--pink-50);
width : fit-content;
padding : 1rem;
border-radius : 0.5rem;
display : flex;
flex-direction : column;
gap : 1rem;
 }

