.styles-2c1189493705a0d9d8d7196bf2db716d2fc5f697b628384c4e5746eb54fd1997 { box-shadow : var(--shadow-large), inset 0 -1px 0 0 color-mix(in oklab, var(--pink-50), black 5%), inset 0 1px 0 0 color-mix(in oklab, var(--pink-50), white 15%), inset 0 0 0 1px color-mix(in oklab, var(--pink-50), white 5%);
position : fixed;
border-radius : 9999px;
padding : 1rem;
background : linear-gradient(
    to bottom, 
    var(--neutral-0), 
    color-mix(in oklab, var(--pink-50), transparent 12.5%)
  );
backdrop-filter : blur(10px);
contain : content;
width : max-content;
bottom : calc(var(--margin-page) / 2);
left : 0;
right : 0;
z-index : 999;
display : flex;
gap : 0.125rem;
 }

