.styles-ba26e453db71bdced27e7cd2212ad42194a97b71ddf36cfd510acba78697e867 { display : flex;
align-items : center;
justify-content : center;
gap : 0.5rem;
flex-direction : column;
border : 1px solid var(--pink-200);
margin : -0.5px;
padding : 2rem 1rem;
strong { font-size : var(--font-secondary);
color : var(--pink-600);
font-weight : inherit;
font-style : italic;
 }
.styles-ba26e453db71bdced27e7cd2212ad42194a97b71ddf36cfd510acba78697e867-text-w-icon { display : flex;
align-items : center;
gap : 0.25rem;
 }
.styles-ba26e453db71bdced27e7cd2212ad42194a97b71ddf36cfd510acba78697e867-fact { font-weight : 800;
 }
 }

