.styles-ba028f7fc40a41192555f2f08da6b17cb3e8762274f2dba4c4471a96875c04cc { position-anchor : var(--anchor);
position-area : var(--area);
transform-origin : var(--area);
position : absolute;
margin : 0;
color : var(--neutral-1000);
border-radius : calc(var(--margin-page) / 1.5);
padding : max(calc(var(--margin-page) / 2.5), 1rem);
background-color : var(--pink-50);
align-items : stretch;
text-align : center;
flex-direction : column;
gap : 0.5rem;
border : none;
box-shadow : var(--shadow-large),inset 0 -1px 1px 0 color-mix(in hwb, var(--pink-50), black 10%),inset 0 1px 1px 0 color-mix(in hwb, var(--pink-50), white 20%),inset 0 -3px 6px 0 color-mix(in hwb, var(--pink-50), black 5%),inset 0 3px 6px 0 color-mix(in hwb, var(--pink-50), white 10%);
min-width : 12rem;
&::backdrop { background-color : color-mix(in srgb, var(--pink-100), transparent 20%);
 }
&:popover-open { animation : [object Promise] 0.1s ease both;
display : flex;
 }
 }

