.styles-00043ef777a45fc33c09f385b494b6e29bb4486cb28a7630227135b3182e2a82 { display : flex;
flex-direction : column;
& > * + * { border-top : 1px solid var(--pink-100);
 }
.styles-00043ef777a45fc33c09f385b494b6e29bb4486cb28a7630227135b3182e2a82-cell { padding : 0.5rem 1rem;
background-color : var(--neutral-0);
box-shadow : 0 1px 3px 0 rgba(0, 0, 0, 0.1);
color : var(--neutral-1000);
text-decoration : none;
flex-direction : row;
display : flex;
align-items : center;
&:hover { background-color : var(--pink-50);
 }
.styles-00043ef777a45fc33c09f385b494b6e29bb4486cb28a7630227135b3182e2a82-cell-interior { flex : 1;
display : flex;
flex-direction : column;
gap : 0.125rem;
 }
strong { font-size : var(--font-primary);
font-weight : bold;
color : var(--neutral-1000);
 }
em { display : block;
font-size : var(--font-secondary);
color : var(--neutral-400);
 }
 }
 }

