.styles-2334258bc036f33c1e00270ecb1e6c92aea9151fd4773cecdf62a4ceb6ff8029 { contain : strict;
overflow : hidden;
border-collapse : collapse;
background : var(--neutral-0);
width : 100%;
:is(th, td):last-child { text-align : end;
 }
thead th, tr td { padding : 0.5rem 1rem;
 }
thead { border-bottom : 1px solid var(--pink-200);
th { background : var(--pink-100);
color : var(--pink-600);
font-size : var(--font-secondary);
font-weight : normal;
font-style : italic;
text-align : start;
 }
 }
tr { &:hover { background : var(--pink-50);
 }
td { color : var(--neutral-400);
border-bottom : 1px solid var(--pink-100);
font-size : var(--font-secondary);
strong { font-weight : bold;
color : var(--neutral-1000);
font-size : var(--font-primary);
 }
 }
 }
 }

