.styles-85ba1ba5f0ecbef748b9b78ca1146c3d57c3dba362ae374efc062fd92789a8b3 { display : flex;
align-items : flex-start;
flex-direction : row;
gap : 1rem;
.styles-85ba1ba5f0ecbef748b9b78ca1146c3d57c3dba362ae374efc062fd92789a8b3-rowWithIconInner { display : flex;
align-items : flex-start;
flex-direction : column;
gap : 0.125rem;
 }
 }

