.styles-c1a273085d45fbcba9e61639ae785bd2ce4fd7d30d970fbef93eecfe0947b917 { position : sticky;
top : calc(var(--margin-page));
animation : ease [object Promise] both;
animation-timeline : scroll(nearest block);
animation-range : 0 400px;
transform-origin : top center;
z-index : 999;
will-change : transform;
 }

