.styles-998fc6eda19d73368872dd2e022be35fc0ae24a20dd5e0dbf54c1ccd6dacc685 { display : grid;
background : var(--neutral-0-A80);
grid-template-columns : repeat(auto-fit, minmax(200px, 1fr));
margin : -0.5px;
 }

