:root {
  --pink-50: #fff1f6;
  --pink-100: #ffd6e5;
  --pink-200: #ffb9d4;
  --pink-300: #ff9bc3;
  --pink-400: #ff78b4;
  --pink-500: #ff4ba4;
  --pink-600: #e10087;
  --pink-700: #a20060;
  --pink-800: #650039;
  --pink-900: #33001b;

  --neutral-400: #999;
  --neutral-900: #000000;

  --font-primary: 1rem;
  --font-secondary: 0.8rem;
}

@view-transition {
  navigation: auto;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(30px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-30px);
  }
}

::view-transition-old(chart) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(chart) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

details {
  border-radius: 1em;
  box-shadow: 0 0.1em 0.5em 0.01em rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.details-content {
  border: 1px solid var(--pink-600);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
  margin-top: -1px;
}

details {
  summary {
    padding: calc(0.75rem + 2px) calc(1rem + 2px);
    background-color: var(--pink-600);
    background: linear-gradient(
      to bottom,
      var(--pink-400) 0%,
      var(--pink-600) 100%
    );
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .details-title {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    img {
      vertical-align: baseline;
      transition: transform 0.4s ease;
      transform: rotate(-90deg);
    }
  }

  &[open] .details-title img {
    transform: rotate(0deg);
  }

  .details-pivot {
    display: flex;
    font-size: var(--font-secondary);
    gap: -0.5rem;
    margin: -0.25rem;
    .details-pivot-link {
      color: inherit;
      text-decoration: none;
      padding: 0.25rem 1rem;
      border-radius: 999px;
      color: var(--pink-50);

      &.details-pivot-link-active {
        opacity: 1;
        background: var(--pink-100);
        color: var(--pink-800);
      }
    }
  }
}

details + details {
  margin-top: 2em;
}

table {
  overflow: hidden;
  border-collapse: collapse;
  background: #fff;
  width: 100%;
}

table th:last-child,
table td:last-child {
  text-align: end;
}

table tr:hover {
  background: var(--pink-50);
}

table tr img {
  vertical-align: text-bottom;
}

table thead {
  border-bottom: 1px solid var(--pink-400);
}

table td {
  padding: 0.5rem 1rem;
  color: var(--neutral-400);
  border-bottom: 1px solid var(--pink-100);
  font-size: var(--font-secondary);
}

table td strong {
  font-weight: bold;
  color: #000;
  font-size: 1rem;
}

table .row-with-icon {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 1rem;
}

table th {
  padding: 0.5rem 1rem;
  background: var(--pink-100);
  color: var(--pink-600);
  text-align: left;
  font-weight: normal;
}

body {
  padding: 1em;
  line-height: 1.4;
  background-image: url(paws.gif);
  background-size: 160px;
  image-rendering: pixelated;
  -webkit-font-smoothing: never;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

svg {
  background-color: #fff;
  display: block;
  width: 100%;
}

svg.chart-container {
  view-transition-name: chart;
  background: repeating-linear-gradient(
    #fff,
    #fff 24px,
    var(--pink-100) 24px,
    var(--pink-100) 25px
  );
}

svg * {
  transform-box: fill-box;
}

svg text {
  font-size: var(--font-secondary);
}

.chart-point-date {
  font-size: 0.6em;
}

.chart-point-label {
  transform: scaleY(0.5) scaleX(0.2);
  opacity: 0;
  transform-origin: bottom center;
  transition: transform 0.1s ease, opacity 0.1s ease;
}

.chart-point,
.chart-point-dot {
  z-index: 1;
}

.chart-point:hover {
  z-index: 99999;
}

.chart-point:hover .chart-point-label {
  opacity: 1;
  transform: scaleY(1) scaleX(1) translateZ(42px);
}

.dashboard {
  display: grid;
  background: #fff;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: -1px;
  .dashboard-widget {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-direction: column;
    border: 1px solid var(--pink-200);
    padding: 2rem 1rem;
    strong {
      font-size: var(--font-secondary);
      color: var(--neutral-400);
      font-weight: inherit;
    }
    .dashboard-widget-text-w-icon {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }
    .dashboard-fact {
      font-weight: 800;
    }
  }
}
